# venv
.env
.venv
.pytest_cache
__pycache__
ETL

# airflow
logs

# system log
log

# kafka data
kafka-data
aws_credentials
brickstudy_ingestion/dags/viral/tmp
brickstudy_ingestion/src/scrapper/results